.blur {
    position: fixed;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    filter: blur(2px);
    opacity: 0.7;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book_main {
    position: fixed;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 253, 253);
    width: 1000px;
    max-height: 900px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    padding-top: 10px;
    align-items: center;
    border: solid rgb(221, 216, 216) 1px;
    z-index: 2;
    box-shadow: 0px 1px 91px -38px rgba(34, 60, 80, 0.34);
    overflow: auto;
}
.book_img {
    padding: 20px 10px;
    height: 350px;
}
.close {
    position: absolute;
    left: 94%;
    top: 2%;
}
.button {
    background-color: red;
    padding: 0px;
    margin: 0;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 45px -10px rgba(172, 25, 25, 0.58);
        border: solid red 0.1px;
    }
}
.icon {
    width: 40px;
    height: 40px;
}
.info {
    padding: 20px 30px 10px 0;
    width: 800px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.author,
.isbn,
.firm,
.date {
    padding: 15px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.book_name {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

@media screen and (min-device-width: 961px) and (max-device-width: 1140px) {
    .book_main {
        width: auto;
        max-width: 1000px;
        min-width: 950px;
    }
    .info {
        width: auto;
    }
}
@media screen and (min-device-width: 721px) and (max-device-width: 960px) {
    .book_main {
        width: 90%;
        max-width: 950px;
        min-width: 720px;
    }
    .info {
        width: auto;
    }
    .close {
        left: 92%;
        top: 2%;
    }
}
@media screen and (min-device-width: 541px) and (max-device-width: 720px) {
    .book_main {
        width: 90%;
        max-width: 710px;
        min-width: 540px;
    }
    .info {
        width: auto;
       
    }
    .book_img {
        width: 200px;
        height: auto;
    }
    .close {
        left: 90%;
        top: 2%;
    }
}
@media screen and (max-device-width: 540px) {
    .book_main {
        width: 90%;
        max-width: 520px;
        flex-direction: column;
    }
    .info {
        width: auto;
        padding: 10px
       
    }
    .book_img {
        width: 200px;
        height: auto;
    }
    .close {
        left: 80%;
        top: 2%;
    }
}
