.books_main{
    background-color: rgb(235, 241, 235);
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 430px);
    grid-auto-rows: 220px;
    justify-content: center;
    align-items:center
}