.book_main {
    margin: 5px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    &:hover {
        transition: 2000ms;
        box-shadow: 0px 1px 91px -38px rgba(34, 60, 80, 0.34);
        z-index: 50px;
        background-color: rgb(236, 246, 226);
    }
}
.book_img {
    padding: 5px;
    max-height: 190px;
    max-width: 150px;
}
.info {
    width: 260px;
    height: auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.author {
    height: auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.book_name {
    padding: 10px 0;
    height: auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

@media screen and (min-device-width: 721px) and (max-device-width: 960px) {
    .info,
    .author,
    .book_name,
    .book_img,
    .book_main {
        width: auto;
    }
}
@media screen and (min-device-width: 541px) and (max-device-width: 720px) {
    .info {
        height: 140px;
    }
    .author,
    .book_name,
    .book_main,
    .book_img {
        width: auto;
        height: auto;
        font-size: 15px;
    }
    .book_main {
        max-width: 350px;
        max-height: 150px;
    }
    .book_img {
        max-width: 120px;
    }
}
@media screen and (max-device-width: 540px) {
    .info {
        height: 190px;
    }
    .author,
    .book_name,
    .book_main {
        width: auto;
        height: auto;
        font-size: 20px;
    }
    .book_main {
        max-width: 530px;
        max-height: 190px;
    }
    .book_img {
        height: auto;
        max-width: 135px;
    }
}
